/* ---------Basic Reset---------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ---------Overflow Hidden---------- */
.overlay {
  position: relative;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
}
/* ---------Main Container---------- */
.container {
  width: 100%;
  height: 100vh;
  background-image: url("/images/red.webp");
  background-size: cover;
  background-position: center;
  padding: 20px 10%;
  transition: background-image 0.3s ease;
}
/* ---------Navbar---------- */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 150px;
  cursor: pointer;
}
.nav__btn {
  text-decoration: none;
  color: #fff;
  background: linear-gradient(45deg, #6969ff, #c669ff);
  animation: hue-rotate 2s linear infinite alternate;
  padding: 15px 50px;
  border-radius: 30px;
}
@keyframes hue-rotate {
  to {
    filter: hue-rotate(90deg);
  }
}
/* ---------Content---------- */
.content {
  margin-top: 10%;
}
.content h2 {
  color: red;
  font-size: 34px;
}
.content h1 {
  font-size: 100px;
  color: #222;
}
.content p {
  max-width: 380px;
  font-weight: 500;
  font-size: 16px;
  color: #555;
  line-height: 1.5;
}
.content h3 {
  margin-top: 30px;
  font-weight: 600;
  font-size: 24px;
}
/* ---------Color Select---------- */
.color__select div {
  background: #333;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}
.color__select {
  display: flex;
  margin-top: 30px;
}
.color__select #red {
  background: red;
}
.color__select #yellow {
  background: yellow;
}
.color__select #black {
  background: black;
}
/* -------Responsive-------- */
@media (max-width: 1350px) {
  .content h1 {
    font-size: 80px;
  }
  .content p {
    max-width: 300px;
  }
}
@media (max-width: 1000px) {
  .color__select #red,
  .color__select #yellow,
  .color__select #black {
    border: 1px solid #fff;
  }
  .content {
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 20px;
    width: 50%;
  }
  .content h2,
  .content h1,
  .content p {
    color: #fff;
  }
}
@media (max-width: 815px) {
  .content h2 {
    font-size: 20px;
  }
  .content h1 {
    font-size: 50px;
  }
  .color__select {
    margin-top: 15px;
  }
}
@media (max-width: 600px) {
  .content {
    width: 100%;
  }
  .nav__btn {
    padding: 15px 20px;
  }
  .content h2 {
    font-size: 15px;
  }
  .content h1 {
    font-size: 30px;
  }
  .content p {
    font-size: 14px;
  }
  .content h3 {
    font-size: 20px;
  }
}
